<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<system.webServer>
		<handlers>
			<add name="HttpHandler_1" path="/handler1*.SDE" verb="GET" type="Lab1.HttpHandler_1"/>
			<add name="HttpHandler_2" path="/handler1*.SDE" verb="POST" type="Lab1.HttpHandler_1"/>
			<add name="HttpHandler_3" path="/handler1*.SDE" verb="PUT" type="Lab1.HttpHandler_1"/>
			<add name="HttpHandler_4" path="/sum*" verb="POST" type="Lab1.HttpHandler_2"/>
			<add name="HttpHandler_5" path="/mult*" verb="GET" type="Lab1.HttpHandler_3"/>
			<add name="HttpHandler_6" path="/mult*" verb="POST" type="Lab1.HttpHandler_3"/>
			<add name="HttpHandler_7" path="/mul1" verb="GET" type="Lab1.HttpHandler_4"/>
			<add name="HttpHandler_8" path="/mul1*" verb="POST" type="Lab1.HttpHandler_4"/>
		</handlers>
	</system.webServer>
</configuration>
